{% extends 'base.html' %}

{% block title %}Вход на сайт{% endblock %}

{% block content %}
    <div class='reg_form nav flex-column'>
        <h2>Авторизация</h2><br>      
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Имя пользователя</label>
                {{form.username}}
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Введите пароль</label>
                {{form.password}}
            </div>
            <br>
            <button type="submit" class="btn btn-outline-secondary">Войти</button>
        </form>
    </div>
{% endblock %}








