{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if table %}
            <table>
                <tr>
                    <th>Пользователь</th>
                    <th>Дата бронирования</th>
                    <th>Кабинет</th>
                    <th>Рабочее место</th>
                    <th>Время начала работы</th>
                    <th>Время конца работы</th>
                </tr> 
            {% for el in table %}
                <tr>
                    <td>{{el.user}}</td>
                    <td>{{el.booking_date}}</td>
                    <td>{{el.cabinet}}</td>
                    <td>{{el.workplace}}</td>
                    <td>{{el.start_time}}</td>
                    <td>{{el.end_time}}</td>
                </tr> 
            {% endfor %}
            </table>
        {% else %}
            <p>Еще нет записей</p>
        {% endif %}
    {% endif %}
{% endblock %}

