{% extends 'base.html' %}

{% block title %}Бронирования{% endblock %}

{% block content %}
    <div class='booking-table'>
        <div class='sort-table'>
            <div class='sort-table-small '>
                {% if user.is_authenticated %}
                    <p>Сортировать по пользователю</p>
                    <div>
                        {% for el in users %}
                            <a class="btn btn-outline-success btn-sm btn-my" href={% url 'all_booking' el.username %}>{{el}}</a><br>
                        {% endfor %}
                    </div>
            </div>
            <br>
            <div class='sort-table-small '>
                <p>Сортировать по номеру кабинета</p>
                <div>
                    {% for el in cabinets %}
                        <a class="btn btn-outline-success btn-sm btn-my" href={% url 'all_booking' el.number %}>{{el}}</a><br>
                    {% endfor %}
                </div>
            </div>
            <br>
            <div class='sort-table-small but'>
                <a class="btn btn-outline-success btn-sm btn-my" href={% url 'all_booking'%}>Без сортировки</a><br>
            </div>
        </div>
            {% if table %}
            <br>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Пользователь</th>
                            <th scope="col">Дата бронирования</th>
                            <th scope="col">Кабинет</th>
                            <th scope="col">Рабочее место</th>
                            <th scope="col">Время начала работы</th>
                            <th scope="col">Время конца работы</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for el in table %}
                            <tr>
                                <td scope="row">{{el.user}}</td>
                                <td>{{el.booking_date}}</td>
                                <td>{{el.cabinet}}</td>
                                <td>{{el.workplace}}</td>
                                <td>{{el.start_time}}</td>
                                <td>{{el.end_time}}</td>
                            </tr> 
                        {% endfor %}
                    <tbody>
                </table>
            {% else %}
                <br>
                <h2>Еще нет записей</h2>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}