{% extends 'base.html' %}

{% load static  %}

{% block title %}Выбор даты бронирования{% endblock %}

{% block content %}

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>

{{form.media }}

<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />
    <div class='cabinets'>
        <h2>Выбор даты бронирования</h2>  
        <br>
        <form method='post'>
            {% csrf_token %}
                {{form}}
            <br>
            <span>{{error}}</span>
            <br>
            <button class='btn btn-outline-secondary' type="submit">Забронировать рабочее место на данную дату</button> 
        </form>
    </div>
{% endblock %}
