{% extends 'base.html' %}
{% load static  %}
{% block title %}Найти свободное рабочее место{% endblock %}

{% block content %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>

{{ form.media }}

<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />
    <div class='cabinets'>
        <p>Введите дату и время для поиска:</p>
        <form method='post'>
            {% csrf_token %}
            {{ form.as_p }} <br>
            <button class='btn btn-outline-success' type="submit">Найти свободное рабочее место на данное время</button> 
        </form>
    </div>
    <br>
    <div class='cabinets'>
    <table class="table">
        <thead>
            <tr>
                <th>Кабинет</th>
                <th>Рабочее место</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
    {% for el in table %}
            <tr>
                <td>{{el.cabinet}}</td>
                <td>{{el.number_wp}}</td>
                <td><a class="btn btn-outline-success btn-sm my-btn-2" href={% url 'booking_workplace' el.cabinet.number el.number_wp booking_date%}>Забронировать</a></td>
            </tr>
    {% endfor %}
        <tbody>
    </table>
    </div>
{% endblock %}