{% extends 'base.html' %}
{% load static  %}
{% block title %}Найти свободное рабочее место{% endblock %}

{% block content %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>

{{ form.media }}

{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}" /> {% endcomment %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />
    <p>Введите дату и время для поиска:</p>
    <form method='post'>
        {% csrf_token %}
        {{ form.as_p }} <br>
        <button class='btn btn-success' type="submit">Найти свободное рабочее место на данное время</button> 
    </form>
    <table>
        <tr>
            {% comment %} <th>Дата</th> {% endcomment %}
            <th>Кабинет</th>
            <th>Рабочее место</th>
            {% comment %} <th>Начало рабочего времени</th> {% endcomment %}
            {% comment %} <th>Окончание рабочего времени</th> {% endcomment %}
        </tr>
        {% comment %} {{table}} {% endcomment %}
    {% for el in table %}
    {{el.cabinet}}
        <tr>
            {% comment %} <td>{{el.booking_date}}</td> {% endcomment %}
            <td>{{el.cabinet}}</td>
            <td>{{el.number_wp}}</td>
            {% comment %} <td>{{el.start_time}}</td> {% endcomment %}
            {% comment %} <td>{{el.end_time}}</td> {% endcomment %}
        </tr>
    {% endfor %}
    </table>
{% endblock %}